.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;
}
.navs{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
}
.navitems{
    padding: 10px;
    text-decoration: none;
list-style: none;
}